.cell {
  position: relative;
  font-weight: bold;
  user-select: none;
  aspect-ratio: 1 / 1;
  transition: all 0.2s ease;
  background: transparent;
  border: 0.25vmin solid white;
  border-radius: 2vmin;
  color: rgb(255 255 255);
  text-transform: uppercase;
  outline: none;
}

.cell-x {
  color: var(--X);
}

.cell-o {
  color: var(--O);
}

.board-active .cell:not(.cell-deac) {
  cursor: pointer;
}
