.expanded-grid-container {
	width: 70vmin;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.expanded-grid {
	width: 100%;
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
}

.expanded-grid .cell {
	border-radius: 1vmin;
	font-size: 4vmin;
}

.solo-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	height: 100%;
}

.online-game-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.online-game {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3vmin;

	.chat, .players {
		width: 25%;
	}
}

.winner-title {
	font-weight: bold;
	font-size: 125%;
	line-height: 70%;
}

.winner-suit {
	font-size: 150%;
	line-height: 0;
	margin-right: 1vmin;

	&-x {
		color: var(--X);
	}

	&-o {
		color: var(--O);
	}
}

@media screen and (max-width: 1000px) {
	.online-game {
		flex-direction: column;
	}
}