.expanded-grid-container {
	width: 80vmin;
	aspect-ratio: 1 / 1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.expanded-grid {
	width: 90%;
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
}

.expanded-grid .cell {
	border-radius: 1vmin;
	font-size: 4vmin;
}

.solo-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	height: 100%;
}

@media screen and (width <= 1400px) {
	.expanded-grid .cell {
		font-size: 4vmin;
	}
}