.expanded-grid-container {
	width: 40%;
	aspect-ratio: 1 / 1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.expanded-grid {
	width: 90%;
	aspect-ratio: 1 / 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
}

.expanded-grid .cell {
	border-radius: .5vw;
	font-size: 2vw;
}

@media screen and (width <= 1400px) {
	.expanded-grid {
		width: 60%;
	}
}