:root {
  --grid-border: 0.25vw solid var(--main-grid);
}

.board {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
  border: var(--grid-border);
  position: relative;
  transition: var(--bg-transition);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  padding: 2.5%;
  gap: 3%;
  aspect-ratio: 1 / 1;
}

.board-active .grid {
  background-color: var(--active-board);
}

.board0,
.board1,
.board2 {
  border-top-color: transparent;
}

.board0,
.board3,
.board6 {
  border-left-color: transparent;
}

.board2,
.board5,
.board8 {
  border-right-color: transparent;
}

.board6,
.board7,
.board8 {
  border-bottom-color: transparent;
}

.board-win {
  width: 90%;
  aspect-ratio: 1 / 1;
  gap: 1.5%;
  display: grid;
  place-items: center;
  border-radius: 1vw;
  transition: var(--bg-transition);
}

.win-o {
  background-color: var(--O-dark);
  color: var(--O);
}

.win-x {
  background-color: var(--X-dark);
  color: (var(--X));
}

.board-winner-x .board-win {
  background-color: var(--X);
}

.board-winner-o .board-win {
  background-color: (var(--O));
}

.board-win-symbol {
  line-height: 0;
  transform: translateY(-1.25vw);
  font-size: 10vw;
  color: white;
  user-select: none;
}

.win-draw .board-win-symbol {
  font-size: 7vw;
  transform: translateY(-0.5vw);
}
