:root {
  --grid-border: 0.25vw solid var(--main-grid);
}

.board {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
  border: var(--grid-border);
  position: relative;
  transition: var(--bg-transition);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 85%;
  padding: 3%;
  gap: 3%;
  aspect-ratio: 1 / 1;
  transition: var(--bg-transition);
  border-radius: .25vw;
}

.board-active {
  &-x .grid {
    background-color: var(--active-board-X);

    .cell:not(.cell-deac):hover {
      background-color: var(--X);
    }
  }

  &-o .grid {
    background-color: var(--active-board-O);

    .cell:not(.cell-deac):hover {
      background-color: var(--O);
    }
  }
}

.board-active .cell:not(.cell-deac) {
  cursor: pointer;

  &:hover {
    background-color: var(--highlight);
  }
}

.board0,
.board1,
.board2 {
  border-top-color: transparent;
}

.board0,
.board3,
.board6 {
  border-left-color: transparent;
}

.board2,
.board5,
.board8 {
  border-right-color: transparent;
}

.board6,
.board7,
.board8 {
  border-bottom-color: transparent;
}

.board-win {
  width: 90%;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  border-radius: 2.5vmin;
  transition: var(--bg-transition);
}

.win-o {
  background-color: var(--O-dark);
  color: var(--O);
}

.win-x {
  background-color: var(--X-dark);
  color: (var(--X));
}

.board-winner-x .board-win {
  background-color: var(--X);
}

.board-winner-o .board-win {
  background-color: (var(--O));
}

.board-win-symbol {
  line-height: 0;
  transform: translateY(-2vmin);
  font-size: 20vmin;
  color: white;
  user-select: none;
}

.win-draw .board-win-symbol {
  transform: translateY(-0.5vmin);
}
