.game-state {
  color: white;
  font-size: 5vmin;
  margin: 2vmin 0;
  text-transform: capitalize;
}

span.state {
  line-height: 0;
  font-size: 7vmin;
  font-weight: bold;
}

.state-x {
  color: var(--X);
}

.state-o {
  color: var(--O);
}