.btn {
  cursor: pointer;
  background: transparent;
  border: 0.15vw solid white;
  color: rgb(255 255 255);
  transition: var(--bg-transition);
  text-transform: uppercase;
  outline: none;
  text-wrap:nowrap;

  &:hover {
    background-color: var(--highlight);
  }

  &:focus-visible {
    background-color: var(--highlight);
  }

  &-room {
    font-size: 5vmin;
    padding: 2vmin 4vmin;
    border-radius: 1vw;
    border-width: .5vmin;
  }

  &-back {
    position: absolute;
    padding: 1vmin 1.4vmin;
    font-size: 2vmin;
    top: 3vmin;
    left: 0;
    border-radius: .5vmin;
  }

  &-reset {
    font-size: 2.5vmin;
    padding: 1vmin 2vmin;
    transition:
      font-size 0.5s ease,
      var(--bg-transition);

    border-radius: .5vmin;
  }

  &-big {
    font-size: 3.5vmin;
  }
  
  &-small {
    text-transform: lowercase;
    font-size: 2vmin;
  }

  &-form {
    border-radius: 1vmin;
    padding: 1.5vmin;
    width: 90%;

    &:focus-visible {
      outline: 2px solid white;
    }
  }

  &-header {
    font-size: 2vmin;
    padding: 1vmin 1.5vmin;
    float: right;
    border-radius: 1vmin;
  }

  &-window-back {
    font-size: 3vmin;
    padding: 1vmin 2vmin;
    float: right;
    border-radius: 1vmin;
  }

  &-join-room {
    position: absolute;
    right: 3vmin;
    top: 50%;
    transform: translateY(-50%);
    font-size: 75%;
    padding: 1vmin 2vmin;
    border-radius: 1vmin;
  }

  &-host {
    margin-top: 3vmin;
    padding: 1vmin 2vmin;
    border-radius: 1vmin;
  }

  &-chat {
    font-size: 2vmin;
    padding: 1vmin 2vmin;
    border-radius: 1vmin;
    transition: var(--bg-transition);
    &:hover {
      background-color: var(--highlight);
    }
  }
}
