.btn {
  cursor: pointer;
  background: transparent;
  border: 0.15vw solid white;
  color: rgb(255 255 255);
  transition: var(--bg-transition);
  text-transform: uppercase;
  outline: none;
  &:hover {
    background-color: var(--highlight);
  }

  &:focus-visible {
    background-color: var(--highlight);
  }

  &-game-mode {
    font-size: 5vmin;
    padding: 2vmin 4vmin;
    border-radius: 1vw;
    border-width: .5vmin;
  }

  &-back {
    position: absolute;
    padding: 1vmin 1.4vmin;
    font-size: 2vmin;
    top: 5vmin;
    left: 5vmin;
    border-radius: .5vmin;
  }

  &-reset {
    font-size: 2.5vmin;
    padding: 1vmin 2vmin;
    transition:
      font-size 0.5s ease,
      var(--bg-transition);

    border-radius: .5vmin;
  }

  &-big {
    font-size: 3.5vmin;
  }
}
