.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main-title {
  color: white;
  font-size: 12vmin;
  text-shadow: 0 0 10px var(--highlight);
  line-height: 1;
}

.logo {
  width: 30%;
  float: right;
}

.subtitle {
  color: var(--foreground-light);
  font-size: 5vmin;
  margin-bottom: 1.5vmax;
  font-weight: bold;

  a {
    color: var(--highlight);
  }

  .ps-text {
    color: var(--foreground-dark);
    font-size: 50%;
  }
}



.btn-container {
  display: flex;
  gap: 3vw;
}


