.checkbox-container {
	display: flex;
	align-items: center;
	width: fit-content;
	position: relative;
	margin: 3vmin 0;
}

.checkbox-container label {
	cursor: pointer;
	display: flex;
	margin: 0;
}

.checkbox-container input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}

.checkbox-container label::after {
	position: absolute;
	content: '';
	width: 4vmin;
	height: 4vmin;
	border: .25vmin solid white;
	border-radius: .5vmin;
	right: -6vmin;
	top: 50%;
	transform: translateY(-50%);
	transition: var(--bg-transition);
}

.checkbox-container label:hover::after,
.checkbox-container input[type="checkbox"]:hover + label::after {
	background-color: var(--foreground-light);
}

.checkbox-container input[type="checkbox"]:checked + label::after {
	background-color: var(--highlight);
	content: 'X';
	font-size: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
}