.normal-grid-container {
	width: 80vmin;
	aspect-ratio: 1 / 1;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.normal-grid {
	width: 80%;
	aspect-ratio: 1 / 1;
	display: grid;
	gap: 3%;
	grid-template-columns: repeat(3, 1fr);
	overflow: hidden;
}

.normal-grid .cell {
	position: relative;
	border-radius: 2.5vmin;
	font-size: 12vmin;
	cursor: pointer;

  &:not(.cell-deac):hover {
    background-color: var(--highlight);
  }

	&::before {
		position: absolute;
		content: attr(data-cell-number);
		font-size: 30%;
		color: white;
		top: 10%;
		left: 10%;
	}
}

.normal-grid .cell-deac {
	cursor: auto;
}

.winning-cell-x {
	color: white;
	background-color: var(--X);
}

.winning-cell-o {
	color: white;
	background-color: var(--O);
}

.hint {
  color: var(--highlight	);
	font-size: 2vmin;
	margin-bottom: .5rem;
	font-weight: bold;
	font-style: italic;
}
