.main-title {
  color: white;
  text-align: center;
  font-size: 20vmin;
  text-shadow: 0 0 10px var(--highlight);
  line-height: 1;
}

.subtitle {
  color: var(--highlight);
  font-size: 6vmin;
  margin-bottom: 1.5vmax;
  font-weight: bold;
  text-decoration:underline;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 3vw;
}
