.main-title {
  color: white;
  text-align: center;
  font-size: 9vw;
}

.subtitle {
  color: white;
  font-size: 3vw;
  margin-bottom: 3vw;
  font-weight: bold;
  font-style: italic;
  text-shadow: 5px 5px 0 var(--highlight);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

.main-title-X {
  color: var(--X);
}

.main-title-O {
  color: var(--O);
}
